.cartItems{
    margin: 100px 170px;
}

.cartItems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartItemsFormatMain{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 25px;
    padding: 10px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartItemsFormat{
    font-size: 17px;
    font-weight: 500;
}

.productIcon{
    height: 60px;
}

.cartItemRemoveIcon{
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
}

.cartItemsQuantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background-color: white;
}

.cartItemsDown{
    display: flex;
    margin: 100px 0px;
}

.catItemsTotal{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartItemsTotalItems{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.catItemsTotal button{
    width: 250px;
    height: 50px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartItemsPromocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartItemsPromocode p{
    color:#555;

}

.cartItemsPromoBox{
    display: flex;
    width: 500px;
    margin-top: 15px;
    padding-left: 20px;
    height: 50px;
    background: #eaeaea;
}

.cartItemsPromoBox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}

.cartItemsPromoBox button{
    border: none;
    outline: none;
    color: white;
    background: black;
    font-size: 16px;
    width: 170px;
    height: 50px;
    cursor: pointer;
}