.secondNavbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 8px 8%;
    box-shadow: 0 3px 5px -2px rgb(46, 46, 46);
    background-color:#fffaff;
    border-bottom-left-radius: 30px;
    width: 75%;
    position: absolute;
    right: 0;
    user-select: none;
    z-index: 99;
}

.navMenu{
    display: flex;
    font-size: 18px;
    gap: 40px;
    margin-right: 20%;
    color: var(--primary-color);
}

.navMenu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    transition: 0.1s;
}

.navMenu li a:hover{
    color: rgb(4, 4, 4);
}

.navMenu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: #f70f0f;
}

.navSearch{
    border: 1px solid var(--primary-color);
    border-radius: 18px;
    padding: 10px 20px;
    outline: none;
    font-size: 16px;
    width: 280px;
    height: 45px;
    transition: 0.3s;
}

.navSearch:active{
    transform: scale(1.1);
}

.secondNavbar i{
    color: var(--primary-color);
    font-weight: 800;
    font-size: 28px;
    visibility: hidden;
}


@media(max-width: 1024px){
    .navMenu{
        display: flex;
        font-size: 16px;
        gap: 22px;
        margin-right: 20%;
        color: var(--primary-color);
    }
    .navSearch{
        padding: 6px 15px;
        font-size: 14px;
        width: 240px;
        height: 40px;
    }
}

@media(max-width:800px){
    .secondNavbar i{
        color: var(--primary-color);
        font-weight: 800;
        font-size: 28px;
        visibility:visible;
    }
    .navMenu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 56px;
        right:-420px;
        font-size: 20px;
        gap: 0px;
        background-color: var(--primary-color);
        width: 50%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        transition: 0.6s;
    }

    .navMenuVisible{
        right:-120px;
    }

    .navMenu li{
        color: white;
        height: 40px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .navMenu li:hover{
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
    .navMenu hr{
        visibility: hidden;
    }
    .selected{
        background-color: #4b5496;
    }
}

@media(max-width:600px){
    .navSearch{
        padding: 6px 15px;
        font-size: 14px;
        width: 240px;
        height: 40px;
    }
    .navMenuVisible{
        right:-270px;
    }
    .navMenuVisible{
        right:-80px;
    }
}