.shopCategory{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    width: 100%;
    height: 350px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    padding-left: 50px;
    background: linear-gradient(90deg, #f6c3fa 0%, #e1ffea33 80%);
}

.banner img{
    width: 440px;
    height: 400px;
    margin-top: 50px;
}

.banner div{
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    color: rgb(249, 132, 14);
    user-select: none;
}

.banner div h1{
    font-size: 80px;
}

.banner div h3{
    font-size: 40px;
}

.banner div button{
    font-size: 20px;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: rgb(249, 132, 14);
    height: 55px;
    width: 170px;
    padding: 5px 20px;
    margin-top: 15px;
    cursor: pointer;
}

.shopCategoryContainer{
    /* width: 70%; */
    width: 1020px;
}

.shopCategoryIndexSort{
    display: flex;
    margin: 15px 40px;
    justify-content: space-between;
    align-items: center;
}

.shopCategorySort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopCategoryIndexSort p span{
    font-weight: 600;
}

.shopCategoryProducts{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 20px;
}

.shopCategoryLoadMore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    background-color: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 1280px){
    .banner div h1{
        font-size: 60px;
    }
    .banner div{
        margin-right: 80px;
    }
    .banner img{
        width: 440px;
        height: 460px;
        margin-top: 80px;
    }
}

@media(max-width: 1024px){
    .shopCategoryContainer{
        width: 720px;
    }
    .banner{
        padding: 0 20px;
    }
    .banner img{
        width: 440px;
        height: 460px;
        margin-top: 80px;
    }
    .banner div h1{
        font-size: 50px;
    }
    .banner div{
        margin-right: 40px;
    }
}

@media(max-width:800px){
    .shopCategoryContainer{
        width: 600px;
    }
    .shopCategoryProducts{
        gap: 10px;
    }
    .banner img{
        width: 300px;
        height: 330px;
        margin-top: 80px;
    }
   
}

@media(max-width:600px){
    .shopCategoryContainer{
        width: 450px;
    }
    .banner img{
        width: 240px;
        height: 270px;
        margin-top: 80px;
    }
    .banner div h1{
        font-size: 40px;
    }
    .banner div{
        margin-right: 10px;
    }
}