.header_wrapper {
    background-image: linear-gradient(180deg, #c0eaf5, #61b6cb);
    background: linear-gradient(180deg, #f6c3fa 0%, #e1ffea33 60%);
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0% 0 0%;
    height: 550px;
    overflow: hidden;
}

.headerImage img {
    width: 550px;
    margin-top: 100px;
}

.headerImage2 img {
    margin-top: 130px;
    width: 400px;
    animation: move 2s linear infinite forwards;
}

.headerContent {
    margin-top: 100px;
    color: white;
    margin-left: 50px;
    user-select: none;
    z-index: 999;
}

.headerContent h3 {
    color: #5ca9bc;
    font-size: 36px;
    margin-bottom: 20px;
}

.headerContent h1 {
    color: var(--primary-color);
    font-size: 45px;
}

.headerContent p {
    color: var(--primary-color);
    font-size: 20px;
}

.newArrivalContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.newArrivalContainer p {
    color: var(--secondary-color);
    font-weight: 600;
}

.newArrivalContainer button {
    color: white;
    background-color: rgb(196, 42, 68);
    font-size: 18px;
    padding: 8px 15px;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}
.newArrivalContainer button:hover {
    background-color: rgb(122, 58, 69);
}

.newArrivalContainer button:active {
    transform: scale(0.9);
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0px);
    }
}