.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
    margin-bottom: 100px;
}

.popular h1{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}

.popularItem{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 1020px;
}

@media(max-width: 1024px){
    .popularItem{
        width: 720px;
        gap: 10px;
    }
}

@media(max-width:800px){
    .popularItem{
        width: 600px;
    }
    .popularItem{
        gap: 10px;
    }
}

@media(max-width:600px){
    .popularItem{
        width: 450px;
    }
}